# CRA 遗留
build/
public/logo*.png
public/manifest.json
public/robots.txt
public/favicon.ico
src/setupProxy.js
src/setupTests.ts
src/reportWebVitals.ts
src/App.css
src/logo.svg

# Vite
dist/
*.local

# node
node_modules/
package-lock.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/
